* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  background-image: url(images/bg-products.png);
  background-size: 239px 215px;
  background-position: top center;
  background-repeat: repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #0e396d;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  margin-left: 1.25rem;
  margin-bottom: 1.5rem;
}

a,
a:visited {
  color: #214e24;
}

a:hover,
a:active {
  color: #3c8341;
}

.logo {
  padding-top: 160px;
  max-width: 464px;
  background-image: url(images/logo-wow.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 20px;
  font-size: 1.5rem;
}

header h2 {
  padding: 0 20px;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

header {
  text-align: center;
  padding: 2rem 0;
}

.banner {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  background-color: #3c8341;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  font-size: 1.175rem;
  line-height: 1.5;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: -20px;
  width: 20px;
  background: #214e24;
}

.banner::before {
  left: -20px;
  border-right: 1px solid #133516;
}

.banner::after {
  right: -20px;
  border-left: 1px solid #133516;
}

.banner p:last-child {
  margin-bottom: 0;
}

.banner_content {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 40px 20px;
  margin: 0 20px;
  max-width: 860px;
  line-height: 1.8;
}

.nowrap {
  white-space: nowrap;
}

footer {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 940px;
  font-size: 0.875rem;
  color: #666;
}

@media (min-width: 540px) {
  .banner {
    margin-left: 40px;
    margin-right: 40px;
  }

  .banner::before,
  .banner::after {
    width: 40px;
  }

  .banner::before {
    left: -40px;
  }

  .banner::after {
    right: -40px;
  }

  .content {
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 940px) {
  .content {
    max-width: 860px;
    margin: 0 auto;
  }
}
